root {
    --color1: #1877f2;
    --color2: #42b72a;
    --text: #1c1e21;


}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.facebook__container {
    background-color: var(--bg);
}